Repository sandy-gunawan/demoterraform: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

pipelines/cd-terraform-apply.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: PrepareApply
    displayName: Prepare for Apply
    jobs:
    - job: ValidateEnvironment
      displayName: Validate Environment Configuration
      steps:
      - checkout: self
      - task: PowerShell@2
        displayName: Validate Environment Selection
  ...

pipelines/ci-terraform-plan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Terraform Validation
    jobs:
    - job: TerraformFormat
      displayName: Check Terraform Format
      steps:
      - checkout: self
      - task: TerraformInstaller@0
        displayName: Install Terraform
        inputs:
  ...

docs: add deployment workflow guide
  docs/DEPLOYMENT-WORKFLOW.md
  docs/INDEX.md
Due: none

docs: add complete architecture visuals for multi-app deployment
  docs/DEPLOYMENT-WORKFLOW.md
Due: none

docs: add comprehensive team collaboration guides and step-by-step example
  docs/DEPLOYMENT-WORKFLOW.md
  docs/INDEX.md
  docs/STEP-BY-STEP-EXAMPLE.md
  docs/TEAM-COLLABORATION.md
  examples/pattern-2-delegated/README.md
  examples/pattern-2-delegated/dev-app-crm/README.md
  examples/pattern-2-delegated/dev-app-crm/dev.tfvars
  examples/pattern-2-delegated/dev-app-crm/main.tf
  examples/pattern-2-delegated/dev-app-crm/outputs.tf
  examples/pattern-2-delegated/dev-app-crm/variables.tf
  examples/pattern-2-delegated/dev-app-ecommerce/README.md
  examples/pattern-2-delegated/dev-app-ecommerce/dev.tfvars
  examples/pattern-2-delegated/dev-app-ecommerce/main.tf
  examples/pattern-2-delegated/dev-app-ecommerce/outputs.tf
  examples/pattern-2-delegated/dev-app-ecommerce/variables.tf
Due: none

docs: add DevOps CI/CD implementation plan for Terraform
  docs/DEVOPS-CICD-PLAN.md
Due: none

fix: correct folder structure and Landing Zone terminology in all docs
  docs/DEPLOYMENT-WORKFLOW.md
  docs/GETTING-STARTED.md
  docs/STEP-BY-STEP-EXAMPLE.md
  docs/TEAM-COLLABORATION.md
Due: none

fix: correct all folder structure references and rename confusing landing-zone example
  README.md
  docs/TEAM-COLLABORATION.md
  examples/enterprise-hub-spoke/README.md
  examples/enterprise-hub-spoke/main.tf
  examples/enterprise-hub-spoke/outputs.tf
  examples/enterprise-hub-spoke/terraform.tfvars
  examples/enterprise-hub-spoke/variables.tf
  examples/pattern-2-delegated/README.md
  examples/pattern-2-delegated/dev-app-crm/README.md
  examples/pattern-2-delegated/dev-app-ecommerce/README.md
  infra/modules/landing-zone/README.md
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

docs: add comprehensive Azure DevSecOps CI/CD implementation plan
  docs/AZURE-DEVSECOPS-IMPLEMENTATION-PLAN.md
Due: none

Fix Terraform deprecated attributes and sensitive values issue
  examples/aks-application/main.tf
  infra/modules/cosmosdb/outputs.tf
  infra/modules/security/main.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Enable Azure AD authentication for Terraform backend
  infra/envs/dev/backend.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Update AKS Kubernetes version from 1.28.3 to 1.29.2
  infra/modules/aks/variables.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Update AKS VM size to Standard_D8ds_v5
  infra/modules/aks/variables.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Add comprehensive scenario testing guide for beginners
  docs/SCENARIO-TESTING-GUIDE.md
Due: none

Add FAQ explaining Terraform modules vs tfvars architecture pattern
  docs/SCENARIO-TESTING-GUIDE.md
Due: none

Fix Cosmos DB: add missing variables and update deprecated arguments
  infra/envs/dev/variables.tf
  infra/modules/cosmosdb/main.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Fix Cosmos DB backup storage redundancy for Indonesia Central
  infra/envs/dev/main.tf
  infra/envs/dev/variables.tf
  infra/modules/cosmosdb/variables.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

docs: Add comprehensive demo documentation for client presentation
  docs/demo/00-DOCUMENT-INDEX.md
  docs/demo/01-FRAMEWORK-OVERVIEW.md
  docs/demo/02-TERRAFORM-BASICS.md
  docs/demo/03-HOW-FILES-CONNECT.md
  docs/demo/04-PATTERN1-VS-PATTERN2.md
  docs/demo/05-DEMO-SCENARIO-STEP-BY-STEP.md
  docs/demo/06-DIAGRAMS.md
Due: none

config: Update AKS node sizes for Indonesia region compatibility
  infra/envs/dev/dev.tfvars
  infra/envs/staging/variables.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

feat: Optimize framework for Indonesia deployment and enhance Pattern 2 documentation
  docs/INDONESIA-AZURE-SERVICES.md
  docs/INDONESIA-CONFIGURATION-CHANGES.md
  docs/demo/04-PATTERN1-VS-PATTERN2.md
  examples/pattern-2-delegated/dev-app-crm/dev.tfvars
  examples/pattern-2-delegated/dev-app-crm/variables.tf
  examples/pattern-2-delegated/dev-app-ecommerce/dev.tfvars
  examples/pattern-2-delegated/dev-app-ecommerce/variables.tf
  infra/envs/dev/dev.tfvars
  infra/envs/prod/prod.tfvars
  infra/envs/staging/staging.tfvars
  infra/envs/staging/variables.tf
  infra/global/locals.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

docs: Add comprehensive Pattern 1+2 integration guide with flow, prerequisites, and impact analysis
  docs/demo/04-PATTERN1-VS-PATTERN2.md
Due: none

Fix inconsistencies: Pattern 1 and Pattern 2 CAN coexist
  docs/demo/04-PATTERN1-VS-PATTERN2.md
  docs/demo/FAQ-PATTERN-1-AND-2-TOGETHER.md
Due: none

Major: Pattern 2 now uses separate VNets (10.2.x, 10.3.x)
  docs/demo/04-PATTERN1-VS-PATTERN2.md
  docs/demo/FAQ-PATTERN-1-AND-2-TOGETHER.md
  docs/demo/SEPARATE-VNETS-MIGRATION.md
  examples/pattern-2-delegated/dev-app-crm/README.md
  examples/pattern-2-delegated/dev-app-crm/dev.tfvars
  examples/pattern-2-delegated/dev-app-crm/main.tf
  examples/pattern-2-delegated/dev-app-crm/outputs.tf
  examples/pattern-2-delegated/dev-app-crm/variables.tf
  examples/pattern-2-delegated/dev-app-ecommerce/README.md
  examples/pattern-2-delegated/dev-app-ecommerce/dev.tfvars
  examples/pattern-2-delegated/dev-app-ecommerce/main.tf
  examples/pattern-2-delegated/dev-app-ecommerce/outputs.tf
  examples/pattern-2-delegated/dev-app-ecommerce/variables.tf
Due: none

Doc updates batch 1: Demo scenario + planning docs
  docs/demo/05-DEMO-SCENARIO-STEP-BY-STEP.md
  docs/demo/DOCUMENTATION-UPDATE-PLAN.md
Due: none

Add comprehensive demo readiness guide
  docs/demo/CLIENT-DEMO-READY-STATUS.md
Due: none

Implement Option B: Platform creates all VNets, Pattern 2 teams use data sources
  docs/demo/04-PATTERN1-VS-PATTERN2.md
  docs/demo/05-DEMO-SCENARIO-STEP-BY-STEP.md
  docs/demo/FAQ-PATTERN-1-AND-2-TOGETHER.md
  examples/pattern-2-delegated/dev-app-crm/dev.tfvars
  examples/pattern-2-delegated/dev-app-crm/main.tf
  examples/pattern-2-delegated/dev-app-crm/outputs.tf
  examples/pattern-2-delegated/dev-app-crm/variables.tf
  examples/pattern-2-delegated/dev-app-ecommerce/dev.tfvars
  examples/pattern-2-delegated/dev-app-ecommerce/main.tf
  examples/pattern-2-delegated/dev-app-ecommerce/outputs.tf
  examples/pattern-2-delegated/dev-app-ecommerce/variables.tf
  infra/envs/dev/dev.tfvars
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Add newbie-friendly documentation explaining Pattern 1 creates ALL VNets
  docs/demo/NEWBIE-GUIDE-PATTERN1-VS-PATTERN2.md
  examples/pattern-2-delegated/README.md
  examples/pattern-2-delegated/dev-app-crm/main.tf
  examples/pattern-2-delegated/dev-app-ecommerce/main.tf
  infra/envs/dev/main.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

docs(code): add comprehensive WHY/HOW/WHO comments for newbie traceability
  examples/pattern-2-delegated/dev-app-crm/main.tf
  examples/pattern-2-delegated/dev-app-crm/outputs.tf
  examples/pattern-2-delegated/dev-app-crm/variables.tf
  examples/pattern-2-delegated/dev-app-ecommerce/main.tf
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  infra/global/locals.tf
  infra/global/outputs.tf
  infra/modules/aks/main.tf
  infra/modules/container-app/main.tf
  infra/modules/cosmosdb/main.tf
  infra/modules/networking/main.tf
  infra/modules/security/main.tf
  infra/modules/webapp/main.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

docs: add beginner multi-app Pattern 1 guide and index link
  docs/demo/00-DOCUMENT-INDEX.md
  docs/demo/07-PATTERN1-MULTIAPP-NEWBIE-GUIDE.md
  infra/envs-multiapp/dev/README.md
  infra/envs-multiapp/dev/backend.tf
  infra/envs-multiapp/dev/base.dev.tfvars
  infra/envs-multiapp/dev/crm.dev.tfvars
  infra/envs-multiapp/dev/dev.tfvars
  infra/envs-multiapp/dev/ecommerce.dev.tfvars
  infra/envs-multiapp/dev/main.tf
  infra/envs-multiapp/dev/outputs.tf
  infra/envs-multiapp/dev/variables.tf
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

feat: add multiapp-aware ci-cd and detailed azure devops guide
  docs/demo/00-DOCUMENT-INDEX.md
  docs/demo/08-PATTERN1-MULTIAPP-AZURE-DEVOPS-CICD-GUIDE.md
  pipelines/cd-terraform-apply.yml
  pipelines/ci-terraform-plan.yml
Due: pipelines/ci-terraform-plan.yml

Fix PowerShell parsing in init-backend script output block
  scripts/init-backend.ps1
Due: none

Fix backend storage SKU for indonesiacentral
  infra/envs/dev/backend.tf
  scripts/init-backend.ps1
  scripts/init-backend.sh
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

fixing backend
  docs/demo/07-PATTERN1-MULTIAPP-NEWBIE-GUIDE.md
  infra/envs-multiapp/dev/README.md
  infra/envs-multiapp/dev/base.dev.tfvars
  infra/envs-multiapp/dev/dev.tfvars
  infra/envs-multiapp/dev/main.tf
  infra/envs-multiapp/dev/variables.tf
  infra/platform/dev/dev.tfvars
  infra/platform/dev/main.tf
  infra/platform/dev/variables.tf
  scripts/init-backend.ps1
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Update base.dev.tfvars
  infra/envs-multiapp/dev/base.dev.tfvars
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Update dev.tfvars
  infra/envs-multiapp/dev/dev.tfvars
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Update dev.tfvars
  infra/platform/dev/dev.tfvars
Due: pipelines/cd-terraform-apply.yml, pipelines/ci-terraform-plan.yml

Path conditions:
  pipelines/cd-terraform-apply.yml: any of: infra
  pipelines/ci-terraform-plan.yml: any of: infra, pipelines
